<footer class="footer" id="footer">
  <div class="footer__contanier container">
    <div class="footer__content">
      <div class="footer__content-left">
        <h2 class="footer__title section-title">For questions and suggestions</h2>
        <!-- <a href="email" class="footer__item"> -->
          <a href="mailto:mail@html.ru&body=привет" class="footer__item">
          <svg class="icon-email">
            <use xlink:href="img/sprite.svg#icon-email"></use>
          </svg>
          <span class="footer__contacts">email@shelter.com</span>
        </a>
        <a href="tel:+136745677554" class="footer__item">
          <svg class="icon-phone">
            <use xlink:href="img/sprite.svg#icon-phone"></use>
          </svg>
            <span class="footer__contacts">+13 674 567 75 54</span>
        </a>
      </div>

      <div class="footer__content-right">
        <h2 class="footer__title section-title">We are waiting for your visit</h2>
        <a target="_blank" href="https://www.google.com/maps/@55.8727168,37.4734848,12z?entry=ttu" class="footer__item">
          <svg class="icon-marker">
            <use xlink:href="img/sprite.svg#icon-marker"></use>
          </svg>
          <span class="footer__contacts">1 Central Street, Boston (entrance from the store)</span>
        </a>
        <a target="_blank" href="https://www.google.com/maps/@55.8727168,37.4734848,12z?entry=ttu" class="footer__item">
          <svg class="icon-marker">
            <use xlink:href="img/sprite.svg#icon-marker"></use>
          </svg>
          <span class="footer__contacts">18 South Park, London</span>
        </a>
      </div>

    </div>
  </div>
</footer>
