<header class="header">
  <div class="header__contanier container">
    <a href="#" class="header__logo">
      <span class="header__logo-title">Cozy House</span>
      <span class="header__logo-descr">Shelter for pets in Boston</span>
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link nav__link_not-active">About the shelter</a>
        </li>
        <li class="nav__item">
          <a href="http://localhost:3000/pets.html" class="nav__link" target="_blank">Our pets</a>
        </li>
        <li class="nav__item">
          <a href="#help" class="nav__link">Help the shelter</a>
        </li>
        <li class="nav__item">
          <a href="#footer" class="nav__link">Contacts</a>
        </li>
      </ul>
    </nav>

  </div>
</header>
