<section class="help" id="help">
  <div class="help__contanier container">
    <h2 class="help__title section-title">How you can help our shelter</h2>
    <div class="help__content">
      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-pet-food"></use>
        </svg>
        <span class="help__item-title">Pet food</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-transportation"></use>
        </svg>
        <span class="help__item-title">Transportation</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-toys"></use>
        </svg>
        <span class="help__item-title">Toys</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-bowls-and-cups"></use>
        </svg>
        <span class="help__item-title">Bowls and cups</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-shampoos"></use>
        </svg>
        <span class="help__item-title">Shampoos</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-vitamins"></use>
        </svg>
        <span class="help__item-title">Vitamins</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-medicines"></use>
        </svg>
        <span class="help__item-title">Medicines</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-collars-leashes"></use>
        </svg>
        <span class="help__item-title">Collars / leashes</span>
      </div>

      <div class="help__item">
        <svg class="help__icon">
          <use xlink:href="img/sprite.svg#icon-sleeping-area"></use>
        </svg>
        <span class="help__item-title">Sleeping areas</span>
      </div>
    </div>
  </div>
</section>
