<section class="in-addition" id="in-addition">
  <div class="in-addition__contanier container">
    <div class="in-addition__content">
      <h2 class="in-addition__title section-title">You can also make a donation</h2>
      <p class="in-addition__title-descr">Name of the bank / Type of bank account</p>
      <a href="#" class="in-addition__phone">
        <svg class="credit-card">
          <use xlink:href="img/sprite.svg#credit-card"></use>
        </svg>
        8380 2880 8028 8791 7435</a>
      <p class="in-addition__content-descr">Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

    </div>
  </div>
</section>
