<section class="our-friends-pets">
  <h1 class="visually-hidden">Cozy House Shelter for pets in Boston</h1>
  <div class="our-friends-pets__contanier container">
    <h2 class="our-friends-pets__title section-title">Our friends who are&nbsp;looking for a house</h2>
    <div class="our-friends-pets__wrapper">

      <div class="swiper our-friends-pets__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-1.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-1.png" class="image" width="270" height="270"
                    alt="Katrine cat">
                </picture>
                <h3 class="our-friends__item-title item-title">Katrine</h3>
                <a class="our-friends__btn-item btn-reset">Learn more</a>
              </div>

          </div>

          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-2.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-2.png" class="image" width="270" height="270"
                    alt="Jennifer puppy">
                </picture>
                <h3 class="our-friends__item-title item-title">Jennifer</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>

          </div>

          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-3.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-3.png" class="image" width="270" height="270"
                    alt="Woody dog">
                </picture>
                <h3 class="our-friends__item-title item-title">Woody</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>

          </div>

          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-4.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-4.png" class="image" width="270" height="270"
                    alt="Sophia puppy">
                </picture>
                <h3 class="our-friends__item-title item-title">Sophia</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>

          </div>

          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-5.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-5.png" class="image" width="270" height="270"
                    alt="Timmy cat">
                </picture>
                <h3 class="our-friends__item-title item-title">Timmy</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>

          </div>

          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-6.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-6.png" class="image" width="270" height="270"
                    alt="Charly dog">
                </picture>
                <h3 class="our-friends__item-title item-title">Charly</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>

          </div>

          <div class="swiper-slide">

              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-7.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-7.png" class="image" width="270" height="270"
                    alt="Scarlett puppy">
                </picture>
                <h3 class="our-friends__item-title item-title">Scarlett</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>

          </div>

          <div class="swiper-slide">
              <div class="our-friends__item">
                <picture class="our-friends__picture">
                  <source srcset="/img/our-friends-8.webp" type="image/webp">
                  <img loading="lazy" src="/img/our-friends-8.png" class="image" width="270" height="270"
                    alt="Freddie cat">
                </picture>
                <h3 class="our-friends__item-title item-title">Freddie</h3>
                <button class="our-friends__btn-item btn-reset">Learn more</button>
              </div>
                   </div>

        </div>
      </div>
    </div>
    <div class="our-friends-pets__btns">
      <button class="btn-reset our-friends-pets__slider-btn  our-friends-pets__slider-btn--prev "
        aria-label="Перейти к предыдущей группе слайдов">
        <svg class="arrow-left-2">
          <use xlink:href="./img/sprite.svg#2arrow-pets"></use>
        </svg>
      </button>
      <button class="btn-reset our-friends-pets__slider-btn  our-friends-pets__slider-btn--prev "
        aria-label="Перейти к предыдущему слайду">
        <svg class="arrow-left-1">
          <use xlink:href="../img/sprite.svg#1arrow-pets"></use>
        </svg>
      </button>

      <span class="swiper-pagination-bullet">1</span>



      <button class="btn-reset our-friends-pets__slider-btn  our-friends-pets__slider-btn--next "
        aria-label="Перейти к следующему слайду">
        <svg class="arrow-right-1">
          <use xlink:href="./img/sprite.svg#1arrow-pets"></use>
        </svg>
      </button>
      <button class="btn-reset our-friends-pets__slider-btn  our-friends-pets__slider-btn--next "
        aria-label="Перейти к следующей группе слайдов">
        <svg class="arrow-right-2">
          <use xlink:href="../img/sprite.svg#2arrow-pets"></use>
        </svg>
      </button>
    </div>



  </div>
</section>
