<section class="our-friends" id="our-friends">
  <div class="our-friends__contanier container">
    <h2 class="our-friends__title section-title">Our friends who are&nbsp;looking for a house</h2>
    <div class="our-friends__wrapper">
      <button class="btn-reset our-friends__slider-btn  our-friends__slider-btn--prev "
        aria-label="Перейти к предыдущему слайду">
        <svg class="arrow-left">
          <use xlink:href="../img/sprite.svg#arrow-left"></use>
        </svg>
      </button>

      <div class="swiper our-friends__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-1.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-1.png" class="image" width="270" height="270"
                  alt="Katrine cat">
              </picture>
              <h3 class="our-friends__item-title item-title">Katrine</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-2.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-2.png" class="image" width="270" height="270"
                  alt="Jennifer puppy">
              </picture>
              <h3 class="our-friends__item-title item-title">Jennifer</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-3.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-3.png" class="image" width="270" height="270" alt="Woody dog">
              </picture>
              <h3 class="our-friends__item-title item-title">Woody</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-4.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-4.png" class="image" width="270" height="270"
                  alt="Sophia puppy">
              </picture>
              <h3 class="our-friends__item-title item-title">Sophia</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-5.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-5.png" class="image" width="270" height="270" alt="Timmy cat">
              </picture>
              <h3 class="our-friends__item-title item-title">Timmy</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-6.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-6.png" class="image" width="270" height="270"
                  alt="Charly dog">
              </picture>
              <h3 class="our-friends__item-title item-title">Charly</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-7.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-7.png" class="image" width="270" height="270"
                  alt="Scarlett puppy">
              </picture>
              <h3 class="our-friends__item-title item-title">Scarlett</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-friends__item">
              <picture class="our-friends__picture">
                <source srcset="/img/our-friends-8.webp" type="image/webp">
                <img loading="lazy" src="/img/our-friends-8.png" class="image" width="270" height="270"
                  alt="Freddie cat">
              </picture>
              <h3 class="our-friends__item-title item-title">Freddie</h3>
              <button class="our-friends__btn-item btn-reset">Learn more</button>
            </div>
          </div>

        </div>
      </div>

      <button class="btn-reset our-friends__slider-btn  our-friends__slider-btn--next "
        aria-label="Перейти к следующему слайду">
        <svg class="arrow-right">
          <use xlink:href="../img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>

    <a href="http://localhost:3000/pets.html" class="our-friends__btn btn" target="_blank">Get to know the rest</a>


  </div>
</section>
