.about {

  background: var(--color-light-xl);

  &__contanier {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
  }

  &__contanier::before {
    content: "";
    display: block;
    width: 49.6%;
    background-image: url(../img/about-pets.png);
    background-repeat: no-repeat;
    background-position: 59% 100%;
    background-size: contain;
  }

  &__content {
    width: 37%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    padding-top: 15px;
    width: 68%;
    quotes: "“" "”";

  }

  &__title span::before {
    content: open-quote;
  }

  &__title span::after {
    content: close-quote;
  }

  &__descr {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
  }

  &__descr:last-child {
    margin-bottom: 13px;
  }
}
