.footer {

  background-color: rgb(45, 38, 38);
  background-image: url(../img/footer-gradient-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__contanier {
    padding-top: 56px;
    padding-bottom: 60px;
    background-image: url(../img/footer-puppy.png);
    background-repeat: no-repeat;
    background-position: 96% 100%;
    background-size: auto;
  }

  &__content {
    width: 62%;
    display: flex;
    gap: 142px;
  }

  &__content-left,
  &__content-right {
    display: flex;
    flex-direction: column;

  }

  &__title {
    line-height: 129%;
    color: var(--color-light-xl);
  }

  &__content-left .footer__title {
    margin-bottom: 38px;
  }

  &__content-right .footer__title {
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    transition: transform .3s ease-in-out;

  }

  &__item:hover {
    transform: scale(1.1);
  }

  &__item:not(:last-child) {
    margin-bottom: 37px;
  }

  &__content_right .footer__item:not(:last-child) {
    margin-bottom: 31px;
  }

  &__contacts {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
  }

}

.icon-email,
.icon-phone {
  width: 40px;
  height: 32px;
  margin-right: 20px;
  fill: var(--color-primary);

}

.icon-marker {
  width: 22px;
  height: 32px;
  margin-right: 20px;
  flex-shrink: 0;
  fill: var(--color-primary);

}
