.our-friends {
  background-color: var(--color-light-l);

  &__contanier {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

  }


  &__title {
    margin-bottom: 60px;
    width: 40%;
    align-self: center;
    text-align: center;
  }

  &__wrapper {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }

  &__item {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background-color: var(--color-light-s);
  }

  &__picture {
    margin-bottom: 25px;
  }

  &__item-title {
    margin-bottom: 30px;
  }

  &__btn-item {
    position: relative;
    padding: 14px 45px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    align-self: center;
    transition: background-color .3s ease-in-out;
  }

  &__btn-item:after {
    content: '';
    position: absolute;
    inset: -353px -40px -30px -40px;
  }

  &__btn-item:hover {
    background-color: var(--color-primary-light);
  }

  &__btn {
    align-self: center;
  }

  &__slider-btn:hover .arrow-right,
  &__slider-btn:hover .arrow-left {
    background-color: var(--color-primary);
  }
}

.arrow-left,
.arrow-right {
  width: 52px;
  height: 52px;
  padding: 15px;
  fill: var(--color-dark-3xl);
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  transition: background-color .3s ease-in-out;
}


.arrow-left {
  margin-right: 53px;
}

.arrow-right {
  margin-left: 53px;
}

.arrow-left path {
  fill: var(--color-dark-3xl);

}
